# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxfortran_compilergfortranpython2.7
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxfortran_compilergfortranpython3.6
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxfortran_compilergfortranpython3.7
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxfortran_compilertoolchain_fortpython2.7
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxfortran_compilertoolchain_fortpython3.6
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxfortran_compilertoolchain_fortpython3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "HLa+fxAZIAOu1gLL1StsneYWwxaQ/ceiExLmHEfWaj/yQ7fj9RrryO/GcB1mIseaZT51ipGae88CYlm5hALGlhCIQd8TnMXNc5vdvEuMTbMXdd4BG4fLfv/q/NEHZ6hSJ08SgqAYmG5PTQ/Aoxi6kTnCwznJKKFYrpQF/rZnXZ5TfWqK57gR7OtzBuw9daWi//grP63aTP66jcmXwRYg97FmTSYgQ/9ZIx8MOwajgRCGU7u2HeYoR0Z4K21DcvJf+bOw2lhj3nmriyD7scYOY0zT1Qb/ZSQdSz+C3byzNm5PhSTaSJFfHPHV9PC41qeZc6m3cXqyGZwTvjby3OPFdfD/radpBuHJqwUVApYUdZCLsYbq3Vf83Hln0jA+QfKUiOqWd4CRg9HXu1iFA+mqKapGSkSgIWruEb7mdIt5DWYP1LEo1yvi2+o/PV7CvH4sMNnCt1F+CecDYou4JDoJzx7OmhgoAd+8Ez/n8mcIlv0M/DYUO059ZPTCHyX2g7LAAPOm6s4jYz1X0WJX216GkSlR2jqtCS+vRLNbWqR/DBwkXke33xsqs19ZkM4RYE5SwwuleUcpHM864WojP2BOZJr7BWJ7aaIX4u5dFuWovI6DZ8t7S9u46zZc6qGvVZpCiSIsAbn3Dmqvw0WLkP1Ikvpt6FfmZkofxwaM6hHUMJk="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml